<textarea id="config"></textarea>
<div id="preview">
	<div id="tab">
		<div class="tabs selected-tab" id="pageview">usage</div>
		<div class="tabs" id="source">htmlコード</div>
	</div>
	<div id="previewtext"></div>
</div>
