<textarea id="text"></textarea>
<div id="preview">
	<div id="tab">
		<div class="tabs selected-tab" id="pageview">プレビュー</div>
		<div class="tabs" id="source">htmlコード</div>
	</div>
	<iframe srcdoc='<div id="previewtext">aa</div><script>alert("h");</script>' sandbox="allow-same-origin" frameborder=0 id="previewFrame"></iframe>
</div>
