<textarea id="text"></textarea>
<div id="preview">
	<div id="tab">
		<div class="tabs selected-tab" id="pageview">プレビュー</div>
		<div class="tabs" id="source">htmlコード</div>
	</div>
	<div id="previewtext"></div>
</div>
