<div id="sidebar">
	<ul class="nav">
		<li>
			<i class="fa fa-home"></i>
		</li>
		<li>
			<i class="fa fa-pencil"></i>
			<ul>
				<li>
					<%= link_to 'テキストを編集', :action => 'ajax', :template => "edit", :remote => true %>
				</li>
				<li>
					<%= link_to '設定を変える', :action => 'ajax', :template => "configedit", :remote => true %>
				</li>
			</ul>
		</li>
		<li>
			<i class="fa fa-file-text-o"></i>
			<ul>
				<li><a class="download" download="" href="#text">ローカルへ保存</a></li>
				<li><span id="file" onclick="$('#file_input').click();">ローカルから読み込み</span><input id="file_input" style="display: none;" type="file"></li>
				<li>クラウドへ保存</li>
				<li>クラウドから読み込み</li>
			</ul>
		</li>
		<li>
			<%= link_to :action => 'ajax', :template => "usage", :remote => true do %>
				<i class="fa fa-code"></i>
			<% end %>
		</li>
	</ul>
</div>
<div id="main">
	<div id="wrap">
		<%= render 'bcml/edit' %>
	</div>
</div>
