<div id="sidebar">
	<ul class="nav">
		<li>
			<i class="fa fa-home"></i>
		</li>
		<li>
			<span>
				<svg  version="1.1" id="pen" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" width="80" height="80" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"></svg>
			</span>
			<ul>
				<li>
					<%= link_to 'テキストを編集', :action => 'ajax', :template => "edit", :remote => true %>
				</li>
				<li>
					<%= link_to '設定を変える', :action => 'ajax', :template => "configedit", :remote => true %>
				</li>
			</ul>
		</li>
		<li>
			<span>
				<svg  version="1.1" id="download" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" width="80" height="80" viewBox="0 0 24.848 31" style="overflow:visible;enable-background:new 0 0 24.848 31;" xml:space="preserve"></svg>
			</span>
			<ul>
				<li><a class="download" download="" href="#text">ローカルへ保存</a></li>
				<!--
				<li><span id="file" onclick="$('#file_input').click();">ローカルから読み込み</span><input id="file_input" style="display: none;" type="file"></li>
				<li>クラウドへ保存</li>
				<li>クラウドから読み込み</li>
				-->
			</ul>
		</li>
		<li>
			<%= link_to :action => 'ajax', :template => "usage", :remote => true do %>
				<svg  version="1.1" id="code" width="80" height="80" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"></svg>
			<% end %>
		</li>
	</ul>
</div>
<div id="main">
	<div id="wrap">
		<%= render 'bcml/edit' %>
	</div>
</div>
